.navbar-brand {
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-link {
  color: #808080;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #fff;
}

.nav-link.active {
  color: #fff;
}

.icon-lg {
  font-size: 3.5rem;
}

.icon-metadata {
  font-size: 0.75rem;
}

.drive-empty {
  height: 60vh;
}
